<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Contatti</h2>
			<p>Se vuoi ricevere maggiori informazioni contattaci: </p>
			<ul>
			{% for contact in site.data.contacts %}
			<li>
				{{ contact.name }}: 
					<a href="{{ contact.link }}"> <i class="{{contact.icon}}"></i> {{ contact.text}} </a>
			</li>
			{% endfor %}

			</ul>

		</header>
		<ul class="actions vertical">
			<li>
				<a href="mailto:info@golfclublafaula.com" class="button fit">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					Contattaci
				</a>
			</li>
		</ul>
	</div>
</section>
