<!-- Three -->
<section id="three" class="wrapper style5 special">
	<div class="inner">
		<header class="major">
			<h2>News</h2>
			<p>Aggiornamenti e ultime novitá relative alla Faula</p>
		</header>
		<ul class="features">
	{% for post in site.posts limit:site.news-count %}
		{% if site.news-source == 'posts' %}
				<li class="">
					<h3><a href="{{post.url | relative_url }}">{{post.title}}</a></h3>
					<p>{{post.description}}</p>
				</li>
		{% endif %}
	{% endfor %}
		</ul>
	</div>
</section>
