<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Avvicinarsi e praticare il golf</h2>
			<p>Il nostro campo pratica è il luogo ideale dove iniziare a praticare questo bellissimo sport.</p>
			<p>
			Il Golf Club La Faula mette a disposizione tutte le strutture per poter praticare:  <i>driving range</i> attrezzato con postazioni coperte e scoperte,
			un' area per il gioco corto, ed un <i>putting green</i> sintetico.
			</p>
			<p>
			Oltre all'area di pratica, il campo è dotato di nove buche executive.
			</p>
		</header>
	</div>
</section>
