<html>
{% include head.html %}

<body>
    {% include header.html %}

    <!-- Main -->
    <article id="main">
        {% capture imageUrl %}
        {% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | relative_url }}{% else %}{{ "" | relative_url }}/assets/images/{{ page.image }}{% endif %}
        {% endcapture %}
        
        <header{% if page.image %} style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url({{imageUrl}});
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{imageUrl}});
            background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{imageUrl}});
            background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{imageUrl}});
            "{% endif %}>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                {{ content }}

            </div>
        </section>
    </article>

    {% include footer.html %}

</body>

</html>
